header {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-bottom: 2px solid #FFA500;
}
header .logo img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
header h1 {
  font-size: 2.5em;
  color: #FFA500;
}

footer.site-footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  border-top: 4px solid #FFA500;
  border-bottom: 4px solid #FFA500;
  /* Aplicamos mixin para bordes redondeados */
  border-radius: 10px;
}
footer.site-footer .footer-map-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
footer.site-footer .footer-map-links .footer-map-item {
  width: 30%;
  text-align: center;
}
footer.site-footer .footer-map-links .footer-map-item iframe {
  width: 100%;
  height: 200px;
}
footer.site-footer .footer-map-links .footer-map-item p {
  margin-top: 5px;
  font-size: 1em;
  color: #FFFFFF;
}
footer.site-footer .footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  flex-wrap: wrap;
}
footer.site-footer .footer-social-media .footer-social-links {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}
footer.site-footer .footer-social-media .footer-social-links .footer-social-item {
  text-align: center;
}
footer.site-footer .footer-social-media .footer-social-links .footer-social-item p {
  color: #FFFFFF;
  font-size: 1.1em;
  margin: 5px 0 0;
  /* Aplicamos mixin de texto en negrita con color */
  font-weight: bold;
  color: #FFA500;
}
footer.site-footer .footer-social-media .footer-social-links .footer-social-item .footer-social-icon {
  width: 30px;
  height: 30px;
}
footer.site-footer .footer-logo-item {
  width: 100px;
  margin: 10px 0;
}
footer.site-footer .footer-logo-item .footer-logo {
  width: 100px;
  height: auto;
}
footer.site-footer #footer-whatsapp {
  display: inline-block;
  margin: 10px 10px 0;
  width: 50px;
}

main {
  padding: 20px;
}

.contact-button {
  background-color: #FFA500;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  /* Usamos mixin para bordes redondeados */
  border-radius: 5px;
}

.tags-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
.tags-section .tag {
  flex: 1;
  margin: 10px;
  text-align: center;
}
.tags-section .tag img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover; /* Asegura que la imagen se recorte y mantenga proporciones */
}
.tags-section .tag h3 {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.background-section {
  background-image: url("../img/spa-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}
.background-section .text-background {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
.background-section .text-background h2 {
  font-size: 2.5em;
  margin: 20px 0 10px;
  color: #FFFFFF;
}
.background-section .text-background p {
  font-size: 1.2em;
  margin: 0 20px;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 1.5;
  font-size: 16px;
}

header {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-image: url("../img/spavos-header.jfif");
  background-size: cover;
  background-position: center;
  color: gold;
  border-bottom: 2px solid #FFA500;
  position: relative;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
}
header .logo img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  z-index: 2;
  position: relative;
}
header h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 2.5em;
  color: gold;
}
header nav {
  margin: 20px 0;
  text-align: center;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.2em;
}
header nav a:hover {
  color: gold;
  cursor: pointer;
}

main {
  padding: 20px;
}
main .background-section {
  background-image: url("../img/spa-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}
main .background-section .text-background {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
main .background-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  margin: 20px 0 10px;
  color: #FFFFFF;
}
main .background-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin: 0 20px;
  color: #FFFFFF;
}
main .background-section .contact-button {
  background-color: #25D366;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
}
main .tags-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}
main .tags-section .tag {
  flex: 1;
  margin: 10px;
  text-align: center;
}
main .tags-section .tag img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
main .tags-section .tag h3 {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}
main .new-products-section {
  width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
}
main .new-products-section .products-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 300px;
}
main .new-products-section .text-background {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
  z-index: 1;
}
main .new-products-section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  color: #FFFFFF;
}

footer.site-footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  background-color: black;
  border-top: 4px solid gold;
  border-bottom: 4px solid gold;
}
footer.site-footer .footer-map-links {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
footer.site-footer .footer-map-links .footer-map-item {
  width: 30%;
  text-align: center;
  margin: 0 10px;
}
footer.site-footer .footer-map-links .footer-map-item iframe {
  width: 100%;
  height: 200px;
}
footer.site-footer .footer-map-links .footer-map-item p {
  margin-top: 5px;
  font-size: 1em;
  color: white;
}
footer.site-footer .footer-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  flex-wrap: wrap;
}
footer.site-footer .footer-social-media .footer-social-links {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}
footer.site-footer .footer-social-media .footer-logo-item {
  width: 100px;
  margin: 10px 0;
}
footer.site-footer .footer-social-media .footer-logo-item .footer-logo {
  width: 100px;
  height: auto;
}
footer.site-footer .footer-social-media #footer-whatsapp {
  display: inline-block;
  margin: 10px 10px 0;
  width: 50px;
}

@media screen and (max-width: 941px) {
  .tags-section {
    flex-direction: column;
    align-items: center;
  }
  .tag img {
    max-width: 100%;
    object-fit: cover;
  }
  .background-section {
    height: 90vh;
  }
}
@media screen and (max-width: 768px) {
  .background-section h2 {
    font-size: 1.8em;
  }
  .tags-section {
    margin: 20px 0;
  }
  .tag img {
    max-width: 300px;
  }
  .new-products-section h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .background-section h2 {
    font-size: 1.5em;
  }
  .tags-section {
    flex-direction: column;
    align-items: center;
  }
  .tag img {
    max-width: 250px;
  }
  .products-image {
    max-height: 250px;
  }
  .background-section {
    padding: 20px;
    height: 80vh;
  }
}

/*# sourceMappingURL=estilos.css.map */
