.site-footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: black;
    border-top: 4px solid gold;
    border-bottom: 4px solid gold;
  
    .footer-map-links {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap; // Permite que las columnas se adapten en líneas nuevas
  
      .footer-map-item {
        width: 30%;
        text-align: center;
        margin: 0 10px;
  
        iframe {
          width: 100%; // Ocupa el 100% del contenedor
          height: 200px; // Altura proporcional
        }
  
        p {
          margin-top: 5px;
          font-size: 1em;
          color: white;
        }
      }
    }
  
    .footer-social-media {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 0 20px;
      flex-wrap: wrap; // Reorganiza los elementos en pantallas pequeñas
  
      .footer-social-links {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-top: 10px;
  
        .footer-social-item {
          text-align: center;
  
          .footer-social-link {
            text-decoration: none;
            color: white;
            display: inline-block;
            
            .footer-social-icon {
              width: 30px;
              height: 30px;
              vertical-align: middle;
            }
  
            p {
              font-size: 1.1em;
              margin: 5px 0 0;
            }
          }
        }
      }
  
      .footer-logo-item {
        width: 100px;
        margin: 10px 0;
  
        .footer-logo {
          width: 100px;
          height: auto;
        }
      }
    }
  
    #footer-whatsapp {
      display: inline-block;
      margin: 10px 10px 0;
      width: 50px;
    }
  }
  