$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$gold-color: gold;
$orange-color: #FFA500;
$white-color: #FFFFFF;


$footer-bg-color: black;
$footer-text-color: white;
$footer-border-color: gold;
$footer-logo-size: 100px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

