// --- Media Queries ---
// Responsivo para tamaños entre 941px y 360px

@media screen and (max-width: 941px) {
  .tags-section {
    flex-direction: column;
    align-items: center;
  }

  .tag img {
    max-width: 100%;
    object-fit: cover;
  }

  .background-section {
    height: 90vh;
  }
}

@media screen and (max-width: 768px) {
  .background-section h2 {
    font-size: 1.8em;
  }

  .tags-section {
    margin: 20px 0;
  }

  .tag img {
    max-width: 300px;
  }

  .new-products-section h2 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .background-section h2 {
    font-size: 1.5em;
  }

  .tags-section {
    flex-direction: column;
    align-items: center;
  }

  .tag img {
    max-width: 250px;
  }

  .products-image {
    max-height: 250px;
  }

  .background-section {
    padding: 20px;
    height: 80vh;
  }
}